<div class="board-page">
  <div class="container">
    <div class="board-page-container">
      <h1 class="heading board-page__heading">{{ currentBoardTitle$ | async }}</h1>
      <div class="content board-page__content" maHorizontalScroll>

        <ul class="list board-page__column-list">
          <li *ngFor="let column of columns" class="item board-page__column">
            <h3 class="heading board-page__heading_type_column">{{ column.title }}</h3>
            <hr class="board-page__hr">

            <button mat-stroked-button (click)="createTask(column.id)">{{ 'boardPage.addTask' | translate }}</button>

            <ng-container *ngFor="let task of tasks$ | async">
              <ul class="list board-page__task" *ngIf="task.columnId === column.id">
                <li>
                  <h3><b>Title:</b> {{task.title}}</h3>
                  <p>{{(parseJSON(task.description)).actualDescription}}</p>
                  <p><b>Status:</b> {{(parseJSON(task.description)).status}}</p>
                  <p><b>Priority:</b> {{(parseJSON(task.description)).priority}}</p>
                  <p><b>Deadline:</b> {{(parseJSON(task.description)).deadline | date: 'longDate'}}</p>
                </li>
              </ul>
            </ng-container>

            <button (click)="handleDeleteColumn(column.id)" class="button icon-close">
              <mat-icon>close</mat-icon>
            </button>
          </li>

          <li (click)="createColumn()" class="item board-page__column column_type_creator">
            <h3 class="heading board-page__heading">{{ 'boardPage.createColumn' | translate }}</h3>

            <span class="icon icon_type_add-column" mat-button>
              <mat-icon>plus_one</mat-icon>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
