<div class="main-page">
  <div class="container main-page-container">
    <div class="content main-page__content">
      <h1 class="main-page__heading">My boards</h1>

      <ul class="list main-page-boards__list">
        <li *ngFor="let board of boards" class="item main-page-boards__item">
          <a class="link main-page-boards__link" routerLink="{{ board.id }}">
            <h3 class="main-page-boards__item-heading">{{ board.title }}</h3>
          </a>

          <button (click)="handleDeleteBoard(board.id)" class="button icon-close">
            <mat-icon>close</mat-icon>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
