<mat-toolbar class="header header__opacity" color="primary" maHeaderScroll>
  <div class="header__nav-tools-container">
    <span class="header__logo-span header__logo-span_type_long" (click)="goHome()">{{ 'header.logo' | translate }}</span>
    <button *ngIf="isAbleToGoBack" mat-raised-button (click)="goBack()" class="header__button header__button_type_go-back_size_big">
      <mat-icon aria-hidden="true" class="header__icon header__icon_type_arrow-back_visivble">west</mat-icon>
      <span class="header__span header__span_type_go-back-button-description">Previous page</span>
    </button>
  </div>
  <div class="header__button-container">
    <ma-language-switch></ma-language-switch>
    <ng-container *ngIf="isAuthActionsVisible">
      <button mat-raised-button class="header__button header__button_sign-up" (click)="goToAuth()">
        {{ 'header.button_login' | translate }}
      </button>
    </ng-container>
    <ng-container *ngIf="userName && userName.length > 0">
      <mat-chip class="header__name-chip" [matMenuTriggerFor]="userActions">
        <span class="header__name-chip__label">{{ userName[0] }}</span>
        {{ userName }}
      </mat-chip>
      <mat-menu #userActions="matMenu">
        <button mat-menu-item (click)="goToSettings()">
          {{ 'header.user.button_settings' | translate }}
        </button>
        <button mat-menu-item (click)="logOut()">
          {{ 'header.user.button_log-out' | translate }}
        </button>
      </mat-menu>
    </ng-container>
  </div>
  <mat-icon *ngIf="isAbleToGoBack" aria-hidden="true" class="header__icon header__icon_type_arrow-back" (click)="goBack()">west</mat-icon>
</mat-toolbar>
