@use '../../../../styles';

.header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 100%;
  top: 0;
  z-index: 100;
  left: 0;
  transition: 1s;
  height: styles.$header-height;

  &__nav-tools-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  &__button_type_go-back_size_big {
    @include styles.color(background-color, styles.$accent-palette, 800);
  }

  &__icon_type_arrow-back {
    display: none;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__span_type_go-back-button-description {
    margin-left: 0.5rem;
  }

  &__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
  }

  &__logo-span {
    transition: 0.5s;
    cursor: pointer;
    font-size: 1.4rem;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__opacity {
    background-color: rgba($color: styles.$primary-color, $alpha: 0.4);

    .header__logo-span {
      color: styles.$d-black;

      &:hover {
        filter: invert(100%);
      }
    }
  }

  &__button_login {
    color: styles.$d-black;
  }

  &__name-chip {
    display: flex;
    justify-content: center;
    padding: 0.5em 1em;
    align-items: center;
    border-radius: 4px;
    user-select: none;
    @include styles.color(background-color, styles.$accent-palette, 800);

    &__label {
      display: flex;
      height: 2em;
      width: 2em;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      margin-right: 0.5em;
      @include styles.color(background-color, styles.$primary-palette, 200);
      font-weight: 700;
      font-size: 1rem;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

@media  screen and (max-width: 620px) {
  .header__nav-tools-container {
    display: none;
  }

  .header__icon_type_arrow-back {
    display: block;
  }
}
