<mat-toolbar class="header header__opacity" color="primary" appHeaderScroll>
  <span class="header__logo-span">{{ 'header.logo' | translate }}</span>
  <div class="header__button-container">
    <app-language-switch></app-language-switch>
    <ng-container *ngIf="isAuthActionsVisible">
      <button mat-raised-button class="header__button header__button_sign-up" (click)="goToAuth()">
        {{ 'header.button_login' | translate }}
      </button>
    </ng-container>
    <ng-container *ngIf="userName && userName.length > 0">
      <mat-chip class="header__name-chip" [matMenuTriggerFor]="userActions"
        ><span class="header__name-chip__label">{{ userName[0] }}</span
        >{{ userName }}</mat-chip
      >
      <mat-menu #userActions="matMenu">
        <button mat-menu-item>{{ 'header.user.button_settings' | translate }}</button>
        <button mat-menu-item>{{ 'header.user.button_log-out' | translate }}</button>
      </mat-menu>
    </ng-container>
  </div>
</mat-toolbar>
