<h2 mat-dialog-title>{{ 'createTask.createNew' | translate }}</h2>
<mat-dialog-content class="dialog-content">
  <form>
  <mat-form-field appearance="fill" class="dialog-content__form-field">
    <mat-label>{{ 'createTask.title' | translate }}</mat-label>
    <input matInput class="input dialog-content__input" [(ngModel)]="formValues.title" name="title">
  </mat-form-field>

    <mat-form-field appearance="fill" class="dialog-content__form-field">
      <mat-label>{{ 'createTask.description' | translate }}</mat-label>
      <textarea matInput [(ngModel)]="formValues.description" name="description"></textarea>
    </mat-form-field>

  <mat-form-field appearance="fill" class="dialog-content__form-field">
    <mat-label>{{ 'createTask.status' | translate }}</mat-label>
    <mat-select [(ngModel)]="formValues.status" name="status">
      <mat-option value="todo">{{ 'createTask.statusOptions.todo' | translate }}</mat-option>
      <mat-option value="pending">{{ 'createTask.statusOptions.pending' | translate }}</mat-option>
      <mat-option value="inProgress">{{ 'createTask.statusOptions.inProgress' | translate }}</mat-option>
      <mat-option value="done">{{ 'createTask.statusOptions.done' | translate }}</mat-option>
      <mat-option value="bug">{{ 'createTask.statusOptions.bug' | translate }}</mat-option>
      <mat-option value="refactor">{{ 'createTask.statusOptions.refactor' | translate }}</mat-option>
      <mat-option value="ready">{{ 'createTask.statusOptions.ready' | translate }}</mat-option>
      <mat-option value="issues">{{ 'createTask.statusOptions.issues' | translate }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="dialog-content__form-field">
    <mat-label>{{ 'createTask.priority' | translate }}</mat-label>
    <mat-select [(ngModel)]="formValues.priority" name="priority">
      <mat-option value="one">{{ 'createTask.priorityOptions.low' | translate }}</mat-option>
      <mat-option value="two">{{ 'createTask.priorityOptions.medium' | translate }}</mat-option>
      <mat-option value="tree">{{ 'createTask.priorityOptions.high' | translate }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="dialog-content__form-field">
    <mat-label>{{ 'createTask.deadline' | translate }}</mat-label>
    <input matInput [matDatepicker]="picker" disabled [matDatepickerFilter]="filterPastDays" [(ngModel)]="formValues.deadline" name="deadline">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker disabled="false"></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill" class="dialog-content__form-field">
    <mat-label>Something </mat-label>
    <input matInput class="input dialog-content__input">
  </mat-form-field>

  <mat-form-field appearance="fill" class="dialog-content__form-field">
    <mat-label>Something 2</mat-label>
    <input matInput class="input dialog-content__input">
  </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{ 'createTask.buttons.cancel' | translate }}</button>
  <button mat-button [mat-dialog-close]="formValues" cdkFocusInitial>{{ 'createTask.buttons.save' | translate }}</button>
</mat-dialog-actions>
