<h2 mat-dialog-title>Create a new task</h2>
<mat-dialog-content class="dialog-content">
  <form>
  <mat-form-field appearance="fill" class="dialog-content__form-field">
    <mat-label>Task title</mat-label>
    <input matInput class="input dialog-content__input" [(ngModel)]="formValues.title" name="title">
  </mat-form-field>

    <mat-form-field appearance="fill" class="dialog-content__form-field">
      <mat-label>Task description</mat-label>
      <textarea matInput [(ngModel)]="formValues.description" name="description"></textarea>
    </mat-form-field>

  <mat-form-field appearance="fill" class="dialog-content__form-field">
    <mat-label>Status</mat-label>
    <mat-select [(ngModel)]="formValues.status" name="status">
      <mat-option value="one">🚀 Todo</mat-option>
      <mat-option value="two">🛑 Pending</mat-option>
      <mat-option value="tree">⛏️ In Progress</mat-option>
      <mat-option value="four">👍 Done</mat-option>
      <mat-option value="five">🐛 Bug / need help</mat-option>
      <mat-option value="six">🔄 Refactor</mat-option>
      <mat-option value="seven">🤞 Ready, needs approval</mat-option>
      <mat-option value="eight">🤔 Works but has issues</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="dialog-content__form-field">
    <mat-label>Priority</mat-label>
    <mat-select [(ngModel)]="formValues.priority" name="priority">
      <mat-option value="one">Low</mat-option>
      <mat-option value="two">Medium</mat-option>
      <mat-option value="tree">High</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="dialog-content__form-field">
    <mat-label>Deadline</mat-label>
    <input matInput [matDatepicker]="picker" disabled [matDatepickerFilter]="filterPastDays" [(ngModel)]="formValues.deadline" name="deadline">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker disabled="false"></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill" class="dialog-content__form-field">
    <mat-label>Something </mat-label>
    <input matInput class="input dialog-content__input">
  </mat-form-field>

  <mat-form-field appearance="fill" class="dialog-content__form-field">
    <mat-label>Something 2</mat-label>
    <input matInput class="input dialog-content__input">
  </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="formValues" cdkFocusInitial>Save</button>
</mat-dialog-actions>
