/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

$custom-typography: mat.define-typography-config($font-family:'"Raleway", sans-serif');

$custom-theme: mat.define-light-theme((typography: $custom-typography));

@include mat.core($custom-typography);
@include mat.all-component-themes($custom-theme);

@import "@angular/material/theming";
$primary-palette: mat-palette($mat-pink, 700, 500, 900);
$accent-palette:  mat-palette($mat-blue-grey, A200, A100, A400);
$warn-palette:    mat-palette($mat-red);
$primary-color: mat-color($primary-palette);
$accent-color: mat-color($accent-palette);
$warn-color: mat-color($warn-palette);

$header-height: 65px;
$footer-height: 65px;
$bg-gradient: linear-gradient(153.03deg,
rgba(209, 107, 165, 0.3) 18.23%,
rgba(134, 168, 231, 0.3) 42.2%,
rgba(95, 251, 241, 0.3) 84.95%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

app-footer {
  position: relative;
  bottom: 0;
  width: 100vw;
}

.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - ($header-height + $footer-height));
}


//font-family: 'Raleway', sans-serif;
