<mat-card class="settings-card">
  <mat-card-title>
    <h2 class="settings-card__title">{{ 'userSettingsPage.greeting' | translate: { value: name } }}</h2>
  </mat-card-title>
  <mat-card-content>
    <ul *ngFor="let field of fields">
      <li class="property">
        <h3 class="property__title">{{ (field.key === "name" ? 'userSettingsPage.login' : "userSettingsPage.name") | translate }}</h3>
        <ng-container *ngIf="!EditMode[field.key]">
          <div>
            <strong>{{ this[field.key] }}</strong>
          </div>
          <button
            mat-mini-fab
            color="accent"
            aria-label="Edit user field"
            (click)="setEditStatus(field.key)"
            [disabled]="!field.isAbleToEdit"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="EditMode[field.key]">
          <form [formGroup]="editForm!" class="property__editable-field">
            <mat-form-field appearance="outline">
              <mat-label>{{ field.key | titlecase }}</mat-label>
              <input matInput [formControlName]="field.key" [type]="field.fieldType" />
            </mat-form-field>
          </form>
          <button
            mat-mini-fab
            color="accent"
            aria-label="Example icon button with a plus one icon"
            (click)="editFieldSubmit(field.key)"
          >
            <mat-icon>check</mat-icon>
          </button>

          <button
            mat-mini-fab
            color="accent"
            aria-label="Example icon button with a plus one icon"
            (click)="removeEditStatus(field.key)"
          >
            <mat-icon>close</mat-icon>
          </button>
        </ng-container>
      </li>
    </ul>
  </mat-card-content>
  <h2 class="settings-card__title settings-card__title_danger-zone">{{ 'userSettingsPage.dangerZone' | translate }}</h2>
  <mat-card-actions class="settings-card__actions">
    <button mat-stroked-button (click)="editFieldSubmit(SettingsKey.pass)">{{ 'userSettingsPage.changePassButton' | translate }}</button>
    <button mat-stroked-button color="warn" (click)="userDelete()">{{ 'userSettingsPage.deleteAccButton' | translate }}</button>
  </mat-card-actions>
</mat-card>
